<div>

<script type="text/template" id="settings">
	<div class="fe-section">
		<div class="fe-field">
			<h3>Urls</h3>
			<label>Tule Url:</label> <input type="text" name="tuleUrl" value="<%= tuleUrl %>">
		</div>
		<div class="fe-field">
			<label>Frontend Url:</label> <input type="text" name="frontendUrl" value="<%= frontendUrl %>">
		</div>
		<div class="fe-field">
			<label>Assets Url:</label> <input type="text" name="assetsUrl" value="<%= assetsUrl %>">
		</div>
	</div>
	<div class="fe-section">
		<div class="fe-field">
			<h3>Theme</h3>
			<label>Current theme:</label>
			<select name="theme" class="js-themes">
				<% _.each( themes, function ( option ) { %>
				<option value="<%= option.value %>" <%= theme == option.value ? 'selected="selected"' : '' %>><%= option.label %></option>
				<% }); %>
			</select>
		</div>
	</div>
	<div class="fe-section fe-controls">
		<button class="js-save">Save settings</button>
	</div>
</script>

</div>